body {
    background-color: rgb(56, 90, 156);
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
}

form {
    background-color: rgba(253, 253, 253, 0.596);
    color: rgb(97, 95, 240);

}

.image {
    width: 370px;
    margin-top: 50px;
    color: grey;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
  
input[type=text]:focus {
    border: 3px solid #555;
}

@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
 }
 
 * {
    font-family: myFirstFont;
 }
  