body {
    background-color: rgb(56, 90, 156);
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
}

form {
    background-color: rgb(253, 253, 253);
    color: rgb(95, 240, 155);

}

.image {
    width: 370px;
    margin-top: 50px;
}